@font-face {
	font-family: "JetBrains Mono";
	src: url("https://cdn.sofiaritz.com/fonts/ofl/jetbrainsmono/JetBrainsMono-Italic[wght].ttf");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("https://cdn.sofiaritz.com/fonts/ofl/jetbrainsmono/JetBrainsMono[wght].ttf");
	font-style: normal;
	font-weight: 300 400;
}

@font-face {
	font-family: "Rubik";
	src: url("https://cdn.sofiaritz.com/fonts/ofl/rubik/Rubik[wght].ttf");
	font-style: normal;
	font-weight: 400 500;
}

@font-face {
	font-family: "Rubik";
	src: url("https://cdn.sofiaritz.com/fonts/ofl/rubik/Rubik-Italic[wght].ttf");
	font-style: italic;
	font-weight: 400 500;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	a {
		@apply text-blue-700 underline hover:text-blue-800;
	}
}
